body {
  font-family: roboto;
  
}

header {
  display: flex;
  justify-content:space-around;
}

.header-nav {
  display: flex;

}

.header-link {
  margin-left: 20px;
}

#presentation {
  display: flex;
  
}

#sections-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections-grid {
  display: flex;
  

}

.section-img {
  width: 200px;
}